flows.json
[
    {
        "id": "dea91d5a.4783b",
        "label": "new package",
        "type": "tab"
    },
    {
        "id": "c37f93a9.f6c65",
        "type": "bulbsin",
        "z": "dea91d5a.4783b",
        "name": "",
        "subtype": "hue-ZLLPresence",
        "x": 200,
        "y": 536,
        "wires": [
            [
                "fd17e65e.1e4808"
            ]
        ]
    },
    {
        "id": "fd17e65e.1e4808",
        "type": "dbfunction",
        "z": "dea91d5a.4783b",
        "name": "",
        "func": "if (msg.type === \"twitter\"){\n    console.log(\"seen tweet!\", msg.payload.value);\n    \n    if (msg.payload.value.indexOf(\"#tlodge left for work\") != -1){\n        context.set(\"state\", \"disabled\");\n    }\n    if (msg.payload.value.indexOf(\"#tlodge coming home\") != -1){\n        context.set(\"state\", \"enabled\");\n    }\n}\n\n\n\nconst state = context.get(\"state\") || \"enabled\";\n\nconsole.log(\"special alarm state is now\", state);\nconsole.log(\"msg type\", msg.type);\n\nif (state === \"enabled\" && msg.type===\"bulbsin\"){   \n  return {\t\t\t\t\n    payload: msg.payload.value.presence ? \"on\" : \"off\"\n  }\n}\n",
        "outputs": 1,
        "inputtypedef": "",
        "outputtypedef": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"payload\": {\n            \"type\": \"literal\"\n        }\n    }\n}",
        "noerr": 0,
        "x": 352,
        "y": 450,
        "wires": [
            [
                "25317685.d2bbaa",
                "74d3bd43.7094e4",
                "dfe46825.10a458",
                "47b06117.ae0f1"
            ]
        ]
    },
    {
        "id": "25317685.d2bbaa",
        "type": "plugout",
        "z": "dea91d5a.4783b",
        "name": "",
        "subtype": "TP-SetPowerState",
        "value": "on",
        "x": 592,
        "y": 409,
        "wires": []
    },
    {
        "id": "74d3bd43.7094e4",
        "type": "plugout",
        "z": "dea91d5a.4783b",
        "name": "",
        "subtype": "TP-SetPowerState",
        "value": "on",
        "x": 590,
        "y": 533,
        "wires": []
    },
    {
        "id": "dfe46825.10a458",
        "type": "bulbsout",
        "z": "dea91d5a.4783b",
        "name": "",
        "subtype": "set-bulb-on",
        "value": "",
        "x": 593.5,
        "y": 255,
        "wires": []
    },
    {
        "id": "d5e17530.3b0428",
        "type": "twitter",
        "z": "dea91d5a.4783b",
        "name": "",
        "subtype": "twitterHashTagStream",
        "x": 216.5,
        "y": 332,
        "wires": [
            [
                "fd17e65e.1e4808"
            ]
        ]
    },
    {
        "id": "47b06117.ae0f1",
        "type": "uibuilder",
        "z": "dea91d5a.4783b",
        "name": "",
        "templatesById": {
            "1cb76d65.610053": {
                "id": "1cb76d65.610053",
                "label": "text:1cb76d65.610053",
                "type": "text",
                "x": 405,
                "y": 257,
                "text": "your text",
                "style": {
                    "fill": "white",
                    "stroke": "none",
                    "stroke-width": 1,
                    "opacity": 1,
                    "text-decoration": "none",
                    "font-weight": "normal",
                    "font-size": "50",
                    "font-style": "normal",
                    "font-family": "\"Lucida Sans Unicode\", \"Lucida Grande\", sans-serif"
                }
            },
            "ee690753.5f5628": {
                "id": "ee690753.5f5628",
                "label": "group:ee690753.5f5628",
                "type": "group",
                "x": 664.3397371081901,
                "y": 71.11834795321636,
                "width": 222,
                "height": 313,
                "children": [
                    "aa3c01a7.1939e",
                    "35710e43.1c58d2",
                    "62f98db7.46a1f4",
                    "85176df1.0fb3c",
                    "bcc85cc1.23b9b",
                    "ed15151.d2fbae8",
                    "c59928d5.08f4b8",
                    "22859b23.9f5b24",
                    "fb2f0541.92dbe8",
                    "3f4d7d35.70f752",
                    "c7f70aea.c698a8",
                    "9e8c19ae.ac0188",
                    "561d3b0b.d42d94",
                    "abebd231.bc33b",
                    "8793fdd7.09825",
                    "6c53b1a3.fcb13",
                    "bcb3c0c9.34196",
                    "38f45e36.42d3b2",
                    "29fe8da7.5a33a2",
                    "9695ead3.4ba8e8",
                    "18e33891.d58377",
                    "3017eaa4.51a156"
                ],
                "style": {
                    "fill": "none",
                    "stroke": "none",
                    "opacity": 1,
                    "stroke-width": 0
                }
            },
            "aa3c01a7.1939e": {
                "id": "aa3c01a7.1939e",
                "label": "path:aa3c01a7.1939e",
                "type": "path",
                "d": "M 189.45008233256502,47.24068287108446 c -73.24538657345828,4.386860882021956 -127.18169343584297,4.2180813674844 -163.95945290155353,0 c -1.2510781515096276,2.994429887087125 -13.519239114458172,152.70467227380763 20.330195774025764,163.86029493676273 c 12.245657027676872,4.035940141379288 30.43235296707568,9.279357059679338 59.03555794535061,9.555733514734582 c 27.17490833650087,0.2623114955104503 56.43213393360883,-2.2060889046012946 69.06598384472204,-9.555733514734582 c 29.820527226877047,-17.346314606597236 15.52771533745508,-163.86029493676273 15.52771533745508,-163.86029493676273 Z",
                "style": {
                    "fill": "rgb(253, 153, 114)",
                    "stroke": "rgb(253, 153, 114)",
                    "stroke-width": "1.40px",
                    "opacity": 1
                }
            },
            "35710e43.1c58d2": {
                "id": "35710e43.1c58d2",
                "label": "path:35710e43.1c58d2",
                "type": "path",
                "d": "M 24.188917425140623,91.4109850735399 l 0,49.74213592612648 c -8.531101211896177,-2.3699456832981713 -14.955271483981868,-12.611345975841571 -14.955271483981868,-24.87106796306324 c 0,-12.259721987221667 6.424170272085694,-22.50182552774231 14.955271483981868,-24.87106796306324 Z",
                "style": {
                    "fill": "rgb(255, 126, 97)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "62f98db7.46a1f4": {
                "id": "62f98db7.46a1f4",
                "label": "path:62f98db7.46a1f4",
                "type": "path",
                "d": "M 191.8762878540424,91.96655097555937 l 0,49.74143267814924 c 8.531101211896177,-2.3692424353209316 14.955271483981868,-12.611345975841571 14.955271483981868,-24.87106796306324 c 0,-12.259721987221667 -6.424170272085694,-22.501122279765067 -14.955271483981868,-24.87036471508601 Z",
                "style": {
                    "fill": "rgb(255, 126, 97)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "85176df1.0fb3c": {
                "id": "85176df1.0fb3c",
                "label": "path:85176df1.0fb3c",
                "type": "path",
                "d": "M 28.3978565689209,182.86416502571421 c -6.257500501479859,-9.667549943115716 -40.93676800310678,8.799038691224547 -23.586233908646104,61.92590713180624 c 9.391173488060469,28.758622781244927 28.67634276790787,59.968064763170595 36.612496191059165,60.11363709445926 c 1.3917277469575908,-34.34522471243801 -9.025484539895766,-86.50864342420115 -13.026262282413063,-122.03954422626552 Z",
                "style": {
                    "fill": "rgb(27, 79, 103)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "bcc85cc1.23b9b": {
                "id": "bcc85cc1.23b9b",
                "label": "path:bcc85cc1.23b9b",
                "type": "path",
                "d": "M 186.9500357734775,184.0793775303846 c 17.23801441810231,7.6450087605740125 29.063832403367005,19.82877996625378 32.33815498539558,38.88539365349824 l 1.7173315604196246,30.850082265556132 c -7.854576657791476,11.714001556883572 -15.868087358439144,19.99615298483685 -24.00115021521759,25.6987908322745 l -12.556492633616868,9.552217274848385 c -1.3917277469575908,-34.34522471243801 -1.8797818431620217,-77.45924845307923 2.5021563030192553,-104.98648402617725 Z",
                "style": {
                    "fill": "rgb(27, 79, 103)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "ed15151.d2fbae8": {
                "id": "ed15151.d2fbae8",
                "label": "path:ed15151.d2fbae8",
                "type": "path",
                "d": "M 171.34425991054877,217.52725782386457 l 0,80.02821331393626 c 9.223800469477391,-4.164634521214174 18.199354402989133,-9.147849687935492 25.877415818493414,-18.42087751581967 l 0,-21.710671553347524 l -12.44678594916746,-7.403794704380755 l 12.44678594916746,-5.993079262037689 l 0,-40.77220797643267 c -0.5175905112485026,-5.434700368109278 -5.877746593770361,-10.40455382326304 -10.21186387749933,-14.367356175009386 l -15.66555194099408,28.639773873091396 Z",
                "style": {
                    "fill": "rgb(32, 60, 81)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "c59928d5.08f4b8": {
                "id": "c59928d5.08f4b8",
                "label": "path:c59928d5.08f4b8",
                "type": "path",
                "d": "M 171.50881993722294,218.73684434471713 c 0.7292681523976864,1.6463035147184033 -126.69715557952473,0.5035255517037064 -126.4503155395136,-2.400888594296723 c 0.014064959544796267,29.397171944578677 0.1399463474707229,-19.78658508761939 0,82.98115157036626 c 40.12662633332651,16.70987518719521 82.29548479255745,16.555863880179693 126.4503155395136,0 l 0,-80.58026297606953 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "22859b23.9f5b24": {
                "id": "22859b23.9f5b24",
                "type": "ellipse",
                "label": "ellipse:22859b23.9f5b24",
                "cx": 75.83896751719831,
                "cy": 101.6256638315536,
                "rx": 7.481151654590404,
                "ry": 7.7497930311041205,
                "style": {
                    "fill": "rgb(69, 68, 74)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "fb2f0541.92dbe8": {
                "id": "fb2f0541.92dbe8",
                "type": "ellipse",
                "label": "ellipse:fb2f0541.92dbe8",
                "cx": 137.54826929296408,
                "cy": 101.6256638315536,
                "rx": 7.481151654590404,
                "ry": 7.7497930311041205,
                "style": {
                    "fill": "rgb(69, 68, 74)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "3f4d7d35.70f752": {
                "id": "3f4d7d35.70f752",
                "label": "path:3f4d7d35.70f752",
                "type": "path",
                "d": "M 114.26865407776555,100.49694893947829 c 0,-3.9220139690664393 -3.184306840941875,-7.1056175620310755 -7.106320810008314,-7.1056175620310755 l -0.7503655917148809,0 c -3.9220139690664393,0 -7.1056175620310755,3.183603592964636 -7.1056175620310755,7.1056175620310755 l 0,7.129527993257229 c 0,3.9220139690664393 3.183603592964636,7.1056175620310755 7.1056175620310755,7.1056175620310755 l 0.7503655917148809,0 c 3.9220139690664393,0 7.106320810008314,-3.183603592964636 7.106320810008314,-7.1056175620310755 l 0,-7.129527993257229 Z",
                "style": {
                    "fill": "rgb(255, 123, 92)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "c7f70aea.c698a8": {
                "id": "c7f70aea.c698a8",
                "label": "path:c7f70aea.c698a8",
                "type": "path",
                "d": "M 120.37425301616163,185.72849403701196 c 0.3115388539172373,0.9275840819793137 0.47820862452307317,1.9043955223654154 0.47820862452307317,2.912853121727307 c 0,6.054261836057553 -6.0050344776507645,10.969965196963848 -13.402499950236363,10.969965196963848 c -7.396762224608358,0 -13.401796702259125,-4.915703360906295 -13.401796702259125,-10.969965196963848 c 0,-1.0084575993618925 0.16596652262859593,-1.9852690397479935 0.47820862452307317,-2.912853121727307 l 25.847879403449337,0 Z",
                "style": {
                    "fill": "rgb(244, 134, 113)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "9e8c19ae.ac0188": {
                "id": "9e8c19ae.ac0188",
                "label": "path:9e8c19ae.ac0188",
                "type": "path",
                "d": "M 43.76734111149702,49.49810887802427 c 0,-2.8207276367088916 -4.461405167609378,-5.111909546556204 -7.282132804318269,-5.111909546556204 l -10.223819093112407,0 c -2.8214308846861313,0 -5.111909546556204,2.2911819098473125 -5.111909546556204,5.111909546556204 c -2.755325574825589,20.965931945450553 -3.932562688725036,41.81371823072483 -4.222300855347839,62.596805702093036 c 0,2.8214308846861313 6.512779517217911,6.626705689530762 9.334210401904043,6.626705689530762 l 5.096438091056927,0 c 2.8214308846861313,0 8.500158300897626,-2.290478661870072 8.500158300897626,-5.111909546556204 c 0.5766633413366469,-21.321775421933896 1.7855466142118863,-42.686448970479425 3.9093555054761238,-64.11160184506763 Z",
                "style": {
                    "fill": "rgb(244, 195, 86)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "561d3b0b.d42d94": {
                "id": "561d3b0b.d42d94",
                "label": "path:561d3b0b.d42d94",
                "type": "path",
                "d": "M 170.5671708956988,53.60367056915028 c 3.8537989152741767,-0.2587952556242513 20.83794081359291,-22.76976300707068 18.932138795273016,-31.102548289385204 c 1.383288771230713,2.4733231359524237 1.7672621668036508,6.32993504313556 2.116776411491838,10.069104538119646 c 0.0007032479772398133,0.0056259838179185066 4.951569007745527,57.97927948353641 5.24201042234557,78.76166370692738 c 0,2.8214308846861313 -6.51348276519515,6.626705689530762 -9.334913649881281,6.626705689530762 l -5.096438091056927,0 c -2.8214308846861313,0 -8.499455052920386,-2.290478661870072 -8.499455052920386,-5.111909546556204 c -0.5766633413366469,-21.321775421933896 -1.2370131919648315,-37.817159976070954 -3.360118835251828,-59.24301609863637 Z",
                "style": {
                    "fill": "rgb(244, 195, 86)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "abebd231.bc33b": {
                "id": "abebd231.bc33b",
                "label": "path:abebd231.bc33b",
                "type": "path",
                "d": "M 85.97206521756719,88.72176480857483 c 0.4796151204775528,-2.0956789721746434 -0.8326456050519392,-4.187138456485848 -2.929027825203822,-4.666753576963401 l -18.2394395376918,-4.172370248963814 c -2.0956789721746434,-0.4796151204775528 -4.187138456485848,0.8333488530291787 -4.666753576963401,2.929027825203822 l -0.2658277353966494,1.1631721543546512 c -0.4796151204775528,2.0963822201518836 0.8326456050519392,4.187138456485848 2.929027825203822,4.666753576963401 l 18.2394395376918,4.172370248963814 c 2.0963822201518836,0.4796151204775528 4.187138456485848,-0.8326456050519392 4.666753576963401,-2.929027825203822 l 0.2658277353966494,-1.1631721543546512 Z",
                "style": {
                    "fill": "rgb(244, 195, 86)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "8793fdd7.09825": {
                "id": "8793fdd7.09825",
                "type": "group",
                "label": "group:8793fdd7.09825",
                "x": 0,
                "y": 0,
                "width": 74.37918284422851,
                "height": 49.70734317885018,
                "style": {
                    "fill": "",
                    "stroke": "",
                    "stroke-width": 0,
                    "opacity": 1
                },
                "children": [
                    "7fc21087.bd858",
                    "2366459c.bd744a",
                    "2ae3df0a.9d5ab",
                    "ad5c976d.c05328",
                    "46e2012b.d03b8"
                ]
            },
            "7fc21087.bd858": {
                "id": "7fc21087.bd858",
                "label": "path:7fc21087.bd858",
                "type": "path",
                "d": "M 107.90496313172244,126.01148880171591 c 20.902639627498974,0.9465717773647888 29.22557943813216,9.407348191536986 32.175704702653185,21.698013089757204 c 2.840418580071606,11.8363667049233 -8.147127816323238,21.557363494309236 -32.175704702653185,21.69871633773444 c -25.980090023170423,0.1533080590382793 -36.28548588164265,-8.204090902479663 -34.611755695811894,-21.69871633773444 c 1.3804757793217537,-11.128899239820043 8.640104648368348,-22.4504884254038 30.88032192857745,-21.574241445762997 c 1.217322248602117,0.047820862452307315 2.4606646723621073,-0.18143797812787182 3.7314337672344506,-0.12377164399420715 Z",
                "style": {
                    "fill": "rgb(238, 74, 90)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "2366459c.bd744a": {
                "id": "2366459c.bd744a",
                "label": "path:2366459c.bd744a",
                "type": "path",
                "d": "M 90.46089705628896,160.58456585877965 c -0.15401130701551913,-0.5900250529042035 -0.23418157642085788,-1.1969280572621621 -0.23418157642085788,-1.8157862772331974 c 0,-5.918534976450269 7.339799138451933,-10.723828404929913 16.381458381824213,-10.723828404929913 c 9.04095599539504,0 16.381458381824213,4.805293428479644 16.381458381824213,10.723828404929913 c 0,0.6188582199710357 -0.08017026940533875,1.2257612243289948 -0.23418157642085788,1.8157862772331974 c -10.512854011757968,2.403701586205683 -21.284503279140193,2.3390027722996187 -32.294553610806716,0 Z",
                "style": {
                    "fill": "rgb(255, 126, 97)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "2ae3df0a.9d5ab": {
                "id": "2ae3df0a.9d5ab",
                "label": "path:2ae3df0a.9d5ab",
                "type": "path",
                "d": "M 125.67744601252703,159.35106890670104 c 0,-1.702563352897588 -1.3818822752762332,-3.0851488761510613 -3.0844456281738215,-3.0851488761510613 l -31.933787398482686,0 c -1.702563352897588,0 -3.0851488761510613,1.3825855232534732 -3.0851488761510613,3.0851488761510613 l 0,1.186379337603565 c 0,1.702563352897588 1.3825855232534732,3.0844456281738215 3.0851488761510613,3.0844456281738215 l 31.933787398482686,0 c 1.702563352897588,0 3.0844456281738215,-1.3818822752762332 3.0844456281738215,-3.0844456281738215 l 0,-1.186379337603565 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "ad5c976d.c05328": {
                "id": "ad5c976d.c05328",
                "label": "path:ad5c976d.c05328",
                "type": "path",
                "d": "M 124.43621333269876,130.9686837932794 c 0,-2.520440750427491 -2.045748365790617,-4.5661891162181085 -4.5661891162181085,-4.5661891162181085 l -27.850026394651085,0 c -2.519737502450251,0 -4.5661891162181085,2.045748365790617 -4.5661891162181085,4.5661891162181085 l 0,1.6526327465135617 c 0,2.520440750427491 2.0464516137678563,4.5661891162181085 4.5661891162181085,4.5661891162181085 l 27.850026394651085,0 c 2.520440750427491,0 4.5661891162181085,-2.045748365790617 4.5661891162181085,-4.5661891162181085 l 0,-1.6526327465135617 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "46e2012b.d03b8": {
                "id": "46e2012b.d03b8",
                "label": "path:46e2012b.d03b8",
                "type": "path",
                "d": "M 108.6911943702766,124.35533981531623 c 20.902639627498974,0.9465717773647888 29.22557943813216,9.406644943559746 32.175704702653185,21.698013089757204 c 2.840418580071606,11.8363667049233 -8.147127816323238,21.556660246331994 -32.175704702653185,21.69871633773444 c -25.980090023170423,0.1526048110610395 -36.28548588164265,-8.204090902479663 -34.611755695811894,-21.69871633773444 c 1.3804757793217537,-11.128899239820043 8.640104648368348,-22.451191673381036 30.88032192857745,-21.574944693740232 c 1.217322248602117,0.04852411042954712 2.4613679203393475,-0.18073473015063204 3.7314337672344506,-0.12306839601696734 Z",
                "style": {
                    "fill": "none",
                    "stroke": "rgb(255, 126, 97)",
                    "stroke-width": "6.34px",
                    "opacity": 1
                }
            },
            "6c53b1a3.fcb13": {
                "id": "6c53b1a3.fcb13",
                "label": "path:6c53b1a3.fcb13",
                "type": "path",
                "d": "M 126.84694739867687,88.63807829928332 c -0.4796151204775528,-2.0956789721746434 0.8326456050519392,-4.187138456485848 2.928324577226582,-4.666753576963401 l 18.240142785669043,-4.172370248963814 c 2.0956789721746434,-0.4796151204775528 4.186435208508609,0.8333488530291787 4.666050328986161,2.929027825203822 l 0.2665309833738893,1.1631721543546512 c 0.47891187250031314,2.0963822201518836 -0.8333488530291787,4.187138456485848 -2.929027825203822,4.666753576963401 l -18.240142785669043,4.172370248963814 c -2.0956789721746434,0.4796151204775528 -4.186435208508609,-0.8326456050519392 -4.666050328986161,-2.929027825203822 l -0.2658277353966494,-1.1631721543546512 Z",
                "style": {
                    "fill": "rgb(244, 195, 86)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "bcb3c0c9.34196": {
                "id": "bcb3c0c9.34196",
                "label": "path:bcb3c0c9.34196",
                "type": "path",
                "d": "M 27.11794525034444,176.25433728763718 c 4.656908105282045,19.147332676308395 21.085484101581326,33.27910077894245 38.578074287444444,38.157531997055045 c 20.975777417131916,5.848913426703529 66.13695601951824,5.4002412172245275 86.76251594398475,0 c 17.22254296260303,-4.509226030061682 30.5969129937498,-17.492590185863115 36.38464384643346,-38.157531997055045 c -1.5801982048578604,20.81684337427572 -14.289998897513005,39.54504025614918 -31.838145673578072,44.89605411496692 c -22.258501727617332,6.78704622834144 -80.19628958049661,2.860812771411561 -101.71005170021695,-4.174479992895534 c -13.426410381462517,-4.3896738739309145 -27.665775424614253,-14.641622886132911 -28.177036704067607,-40.721574122071395 Z",
                "style": {
                    "fill": "rgb(254, 139, 102)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "38f45e36.42d3b2": {
                "id": "38f45e36.42d3b2",
                "label": "path:38f45e36.42d3b2",
                "type": "path",
                "d": "M 100.6298628071766,222.89725937806782 c 0,0 -5.628796809827467,3.803165060912911 -4.954381999654485,6.420654032199498 c 0.741926615988003,2.8798004667970356 9.407348191536986,10.855335776673762 9.407348191536986,10.855335776673762 l -6.7251604063443375,53.57976013792413 c 0,0 8.115481657347445,10.735080372565754 12.252689507449265,10.9973918680762 c 4.137207850101822,0.2623114955104503 12.572667337093383,-9.424929390967977 12.572667337093383,-9.424929390967977 l -4.063366812491641,-55.152222615032365 c 0,0 8.461479662149433,-7.975535309876721 9.138707464231373,-10.855335776673762 c 0.6244842037889543,-2.655464362057535 -5.075340651739732,-6.420654032199498 -5.075340651739732,-6.420654032199498 l -22.553162630080813,0 Z",
                "style": {
                    "fill": "rgb(25, 118, 211)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "29fe8da7.5a33a2": {
                "id": "29fe8da7.5a33a2",
                "label": "path:29fe8da7.5a33a2",
                "type": "path",
                "d": "M 45.323628885128734,217.02795176002434 l 0,80.02821331393626 c -9.22309722150015,-4.163931273236934 -13.821635744671294,-9.14714643995825 -21.500400408152817,-18.420174267842434 l -4.377015410340598,-21.71137480132476 c 11.833553713014341,-5.183640840234664 10.567004106005436,-5.7378002462996385 12.447489197144693,-7.403794704380755 l -12.447489197144693,-5.992376014060451 l -5.114722538465163,-40.77220797643267 c 0.5182937592257426,-5.434700368109278 10.315944578130823,-10.09442146530028 14.65006186185979,-14.057223817046632 l 16.34207649509878,28.328938267151404 Z",
                "style": {
                    "fill": "rgb(32, 60, 81)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "9695ead3.4ba8e8": {
                "id": "9695ead3.4ba8e8",
                "label": "path:9695ead3.4ba8e8",
                "type": "path",
                "d": "M 7.395355728653876,11.814566017628868 c 6.194911431505515,4.184325464576889 15.515056873864763,7.535302076124602 22.603796484442082,6.249764773730221 c 30.050489315434465,-13.040327241957858 73.13708638496335,-20.091794709741468 100.05319946583994,-17.55095976797402 c 22.08901896510254,2.0858335004932873 58.02710034598873,9.472047005443049 60.84853123067489,26.110190898959793 c 3.2032945363273493,18.88994391663863 -17.87234409357262,33.04069971465815 -78.28415833038154,39.67584437991579 c -39.500032385605834,3.6730641851235446 -70.06318947644812,-3.763079926210241 -90.18522384921091,-24.178368705482022 c -7.445989583015143,-9.486815212965084 -14.844861551555226,-20.165635747351654 -15.03614500136445,-30.306471579149765 Z",
                "style": {
                    "fill": "rgb(255, 230, 169)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "18e33891.d58377": {
                "id": "18e33891.d58377",
                "label": "path:18e33891.d58377",
                "type": "path",
                "d": "M 6.829944354953068,15.924347196618331 c 6.194911431505515,4.184325464576889 12.678154533679354,6.6034985062818485 19.767597392233917,5.3186644518647075 c 30.07158675475166,-12.801926177673561 72.93666071145002,-17.7042678270123 99.12139589599724,-16.214085363241143 c 21.03555349519729,1.1969280572621621 55.16558432659991,8.51703625235138 57.987015211286064,25.15447689789088 c 3.2025912883501104,18.88994391663863 -14.07902450434106,32.659539310994184 -74.49083874115,39.29468397625182 c -39.500032385605834,3.6730641851235446 -70.06318947644812,-3.763079926210241 -90.18522384921091,-24.17907195345926 c -7.445989583015143,-9.486815212965084 -12.008662459347056,-19.233832177508894 -12.199945909156282,-29.374668009306998 Z",
                "style": {
                    "fill": "rgb(255, 201, 92)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "3017eaa4.51a156": {
                "id": "3017eaa4.51a156",
                "label": "path:3017eaa4.51a156",
                "type": "path",
                "d": "M 21.66496043482693,47.65981866551939 c -0.28059594291868556,-0.5661146216780498 4.805996676456884,4.412177809202589 10.931989806192897,8.36232169735862 c 3.525382109903185,2.2736007104163174 6.420654032199498,3.43044363297581 9.90806075133173,5.126677754078239 c 9.991747260623269,4.860146770704349 21.28380003116295,7.611252857666497 34.79249042596252,8.572592842553325 c 17.4693830026142,1.24404567173723 38.64558609325947,-0.1427593393796821 56.5305886504224,-3.54366655731142 c 19.92160869924943,-3.789100101368114 28.842309290536463,-7.757528436932382 37.054839168743015,-11.955918861054068 c 5.346794370954301,-2.7335248875311544 12.221043348473478,-13.236533427607764 12.221043348473478,-13.236533427607764 c 0,0 -1.4367356175009387,12.245657027676872 -6.947386767152114,16.505933273795666 c -10.686556262136206,8.262460484590568 -40.22156481025388,17.20355526721756 -61.88933823698977,18.885724428775188 c -21.708561809415794,1.6842789054893526 -55.07556858551323,-2.4613679203393475 -70.33745618757166,-8.444601710695679 c -8.346850241859343,-3.2729160860740913 -21.674805906508293,-19.08404035835682 -22.26483095941249,-20.272529439892104 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "280297e5.235e28": {
                "id": "280297e5.235e28",
                "label": "group:280297e5.235e28",
                "type": "group",
                "x": 531.6450960566228,
                "y": 235.53706140350877,
                "width": 165,
                "height": 148,
                "children": [
                    "e50e7e98.07a1e"
                ],
                "style": {
                    "fill": "none",
                    "stroke": "none",
                    "opacity": 1,
                    "stroke-width": 0
                }
            },
            "e50e7e98.07a1e": {
                "id": "e50e7e98.07a1e",
                "type": "group",
                "label": "group:e50e7e98.07a1e",
                "x": 0,
                "y": 0,
                "width": 168.36428141298464,
                "height": 147.88354170045787,
                "style": {
                    "fill": "",
                    "stroke": "",
                    "stroke-width": 0,
                    "opacity": 1
                },
                "children": [
                    "8f188c7b.ca8a9",
                    "fbebf6c3.9675d8",
                    "44fb4cc.8f463b4",
                    "b9c3aa61.8206c8",
                    "26a725e.9743bda",
                    "96346563.38b6e8",
                    "9a145e64.e2899",
                    "d0649a61.14bda8"
                ]
            },
            "8f188c7b.ca8a9": {
                "id": "8f188c7b.ca8a9",
                "label": "path:8f188c7b.ca8a9",
                "type": "path",
                "d": "M 14.716579731311224,105.4412782572229 c 0,0 -6.6213327279069025,27.47200583829489 -6.415216457688396,34.393365799774294 c 0.10366794655960336,3.4862920616544257 4.970573131807806,6.134703190527117 7.651304267549079,7.1366234034531635 c 4.336369223443174,1.6196592121312148 12.804820834462067,-0.9171564213273143 14.775731441995232,-9.209372523194883 c 1.6153905319787605,-6.796348614157525 3.063082915111104,-17.9504098525205 3.063082915111104,-17.9504098525205 c -0.5970054098932451,2.484371848728377 0.3158823312816149,0.5354144534078337 3.2917622089925813,3.936332912013174 c 4.359542058556497,2.4959582662850384 4.406497540233494,-0.17989437785342932 7.90742507669633,-2.1709287632481646 c 2.085555160199079,2.2398374571377833 4.447964718857334,3.4917803647075814 7.531171411830006,2.1709287632481646 c 4.977890869212014,-1.0537541862058508 13.021913710786883,-9.305722732350278 15.26906890532887,-14.597056687042503 c 2.09653176630539,-4.936423690588172 1.3934191640511393,-10.262516897950382 -5.770645754667802,-11.710209281082722 c 7.809855244640238,2.182515180804826 12.32672865738719,-17.76319773726286 5.134002600501768,-27.966562924529224 c -5.241939227213825,-7.436040825575314 -33.218868946399006,-12.449910570358012 -43.48748395885292,-12.535284173407097 c -7.9671865988306925,-0.06646944808821627 -23.144173975156626,22.682546707241208 -23.646658610245524,31.67177729685952 c -0.42442876944402314,7.59154274541472 5.890778610386874,16.225863070928977 14.696455953449655,16.83079602967678 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "fbebf6c3.9675d8": {
                "id": "fbebf6c3.9675d8",
                "label": "path:fbebf6c3.9675d8",
                "type": "path",
                "d": "M 45.95478108697146,122.00253762584474 c 4.279046947110217,-4.165622017345004 13.651239127548708,-15.970961884682428 13.67075309395993,-22.946595065243027 c 1.7105211182334557,-3.5612988700475503 1.480622201451276,-7.367132131685695 -3.6576490792029466,-11.790094581078653 c -4.136960879178524,-1.583680336560529 -9.53074315752965,0.5293163389043277 -14.18360452370479,5.702956683678885",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "44fb4cc.8f463b4": {
                "id": "44fb4cc.8f463b4",
                "label": "path:44fb4cc.8f463b4",
                "type": "path",
                "d": "M 28.07023087108883,106.1687833174912 c 3.7570483456100963,1.6013648686206965 8.383078007969809,2.8240368265736655 11.638251529941357,3.355182599829045 c 3.3466452395241375,0.5457812480637942 7.497021970610375,-3.7113124868338 7.695210691974321,-7.58422500801051 c 0.13964682213028928,-2.7118315197091536 -2.697196044900739,-5.642585350094177 -5.803575572986736,-8.600780695744973 c -2.322771814385465,-2.2117861304216553 -5.229133186756462,-4.020486892161559 -8.561142951472187,-4.407717163134195 c 2.0477468502773415,-0.7860469595019337 2.944779493743085,-1.8965136105903904 1.090342873226887,-3.7838800494255214",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "b9c3aa61.8206c8": {
                "id": "b9c3aa61.8206c8",
                "label": "path:b9c3aa61.8206c8",
                "type": "path",
                "d": "M 27.228081258154642,65.76206680580957 c 26.287142190263662,-83.3996433843002 69.28067887433257,-74.23661653133195 140.88595899740167,-44.57233852902664 c 3.815590244843753,1.5806312793087758 -18.18030876930267,20.34026092644453 -10.177143294901295,31.762029391511415 c -47.079883212868324,-23.405173275906684 -76.62280873655394,-30.380196645016945 -99.5895275796585,20.900067837866388 l -31.11928812284187,-8.089758700351167 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "26a725e.9743bda": {
                "id": "26a725e.9743bda",
                "label": "path:26a725e.9743bda",
                "type": "path",
                "d": "M 32.27061214110382,53.60486573161983 l 12.817017063469075,5.386464540946921 l 0.3152725198312643,5.793208778330776 l 5.594410245516476,-6.1151892241158965 l 10.591205269689357,5.234011678359269 l -2.4721756197213653,10.372892770463842 l -31.895578099138206,-8.501381429337824 l 5.049848620353384,-12.170007114647083 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "96346563.38b6e8": {
                "id": "96346563.38b6e8",
                "type": "group",
                "label": "group:96346563.38b6e8",
                "x": 0,
                "y": 0,
                "width": 65.21636155620494,
                "height": 86.29646673835586,
                "style": {
                    "fill": "",
                    "stroke": "",
                    "stroke-width": 0,
                    "opacity": 1
                },
                "children": [
                    "80bba1d1.adfee",
                    "ba06bc5a.5c6a2",
                    "973f4e36.d5309"
                ]
            },
            "80bba1d1.adfee": {
                "id": "80bba1d1.adfee",
                "label": "path:80bba1d1.adfee",
                "type": "path",
                "d": "M 18.352885409751895,103.38804310389243 c 0,0 -6.588402909587968,28.708093648155565 -6.874404479802402,35.53371321192993 c -0.10488756946030457,2.491689586132584 2.8191583349708615,4.548583608165185 5.154736189813688,5.421223793616904 c 3.779001557822718,1.4117135075616571 10.443021087254163,-5.122416182945107 12.160250131441474,-12.34807205814946 c 1.4080546388595538,-5.922488805805104 3.0368610227460286,-20.864698773746053 3.0368610227460286,-20.864698773746053 c -0.5201691671490686,2.164830648744658 -0.8019020572110495,4.390032631074026 1.7916260411300862,7.353716279777982 c 3.7985155242339363,2.1751974434006187 6.983560729415163,1.1421768465066888 10.033837604068905,-0.592736729740791 c 1.817238122044812,1.952006452572296 3.875961578428464,3.042959137249534 6.5627908286732435,1.891635118987586 c 4.337588846343874,-0.9177662327776649 11.347371468124114,-8.108662855312033 13.305476035199918,-12.719447231412982 c 1.8263852938000706,-4.301609970773188 1.2141345976480606,-8.942275107941313 -5.028505219591112,-10.203974998716724 c 6.805495785912786,1.902001913643546 10.741218886475611,-15.478844044249485 4.47357679977206,-24.36989499036134 c -4.567487763126055,-6.47924665997521 -28.946529925242658,-10.848545701737317 -37.89490314768749,-10.922942698680087 c -6.942093550791323,-0.057932087783307745 -20.167074474544957,19.765208728763902 -20.604919095896694,27.598236808517456 c -0.370155550362819,6.615234613403396 6.21031981037059,13.695755363424304 13.883577290132289,14.22324226797758 Z",
                "style": {
                    "fill": "rgb(253, 153, 114)",
                    "stroke": "rgb(255, 126, 97)",
                    "stroke-width": "3.38px",
                    "opacity": 1
                }
            },
            "ba06bc5a.5c6a2": {
                "id": "ba06bc5a.5c6a2",
                "label": "path:ba06bc5a.5c6a2",
                "type": "path",
                "d": "M 44.8345574526774,117.13075394899371 c 3.7283872074436166,-3.630207563937169 11.895591961989311,-13.916507108451226 11.912056871148776,-19.99510764554608 c 1.4909889961072367,-3.1033304708342446 1.290361028941886,-6.419485137840848 -3.186874639532277,-10.274103315507043 c -3.605205294472794,-1.3800033121434256 -8.305022142324932,0.4610174564650596 -12.359658475706121,4.969963320357455",
                "style": {
                    "fill": "rgb(253, 153, 114)",
                    "stroke": "rgb(255, 126, 97)",
                    "stroke-width": "3.38px",
                    "opacity": 1
                }
            },
            "973f4e36.d5309": {
                "id": "973f4e36.d5309",
                "label": "path:973f4e36.d5309",
                "type": "path",
                "d": "M 29.249606216066912,103.33376988481122 c 3.274077676932414,1.3946387869518402 7.304931363749933,2.460589202164703 10.14177423078096,2.9234360929808143 c 2.916118355576607,0.47565293127347424 6.532910067606061,-3.2344399326596247 6.7060965195056355,-6.608526687449538 c 0.12074266716942038,-2.3636291815589567 -2.350823141101594,-4.917519535627305 -5.057776169207942,-7.4951925362593235 c -2.0239642037136676,-1.9270041831079214 -4.5565111570197425,-3.5027569708138926 -7.459823472138986,-3.8412023257584806 c 1.7843083037258785,-0.6842084472933823 2.566086583075358,-1.6519792189997966 0.950086239646247,-3.2966407005953866",
                "style": {
                    "fill": "rgb(253, 153, 114)",
                    "stroke": "rgb(255, 126, 97)",
                    "stroke-width": "3.38px",
                    "opacity": 1
                }
            },
            "9a145e64.e2899": {
                "id": "9a145e64.e2899",
                "label": "path:9a145e64.e2899",
                "type": "path",
                "d": "M 28.866034813796375,68.21106959041761 c 22.63498141411387,-76.52889777319989 71.93823717496055,-76.28009470145685 134.58599690382954,-46.867059016695976 c 3.257002956322596,1.5294071174793245 -16.476495577023073,17.15094704111085 -9.503301642263875,27.103679722283125 c -47.304903638047705,-27.07014009251384 -83.30939128964832,-23.569822367501356 -97.9655996873748,26.812799660465874 l -27.117095574190834,-7.049420366053028 Z",
                "style": {
                    "fill": "rgb(27, 79, 103)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "d0649a61.14bda8": {
                "id": "d0649a61.14bda8",
                "label": "path:d0649a61.14bda8",
                "type": "path",
                "d": "M 32.91030435252161,57.52961222607636 l 11.168696713171386,4.69371873334863 l 0.2744151526577735,5.048628997452683 l 4.8748327341027595,-5.328532453163613 l 9.22949630105645,4.560170025721845 l -2.154463854088698,9.03862531709671 l -27.793376472629664,-7.407989498859185 l 4.400399425729986,-10.604621121597074 Z",
                "style": {
                    "fill": "rgb(32, 60, 81)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "3b1ef73e.085838": {
                "id": "3b1ef73e.085838",
                "label": "group:3b1ef73e.085838",
                "type": "group",
                "x": 452.7664307381193,
                "y": 382.81520467836253,
                "width": 193,
                "height": 89,
                "children": [
                    "7f6432a7.0f3dfc"
                ],
                "style": {
                    "fill": "none",
                    "stroke": "none",
                    "opacity": 1,
                    "stroke-width": 0
                }
            },
            "7f6432a7.0f3dfc": {
                "id": "7f6432a7.0f3dfc",
                "type": "group",
                "label": "group:7f6432a7.0f3dfc",
                "x": 0,
                "y": 0,
                "width": 195.32155834856934,
                "height": 94.36890536939525,
                "style": {
                    "fill": "",
                    "stroke": "",
                    "stroke-width": 0,
                    "opacity": 1
                },
                "children": [
                    "46b2bc3d.33a7a4",
                    "d31edfe6.05daf",
                    "9417515.7be7fb"
                ]
            },
            "46b2bc3d.33a7a4": {
                "id": "46b2bc3d.33a7a4",
                "label": "path:46b2bc3d.33a7a4",
                "type": "path",
                "d": "M 4.91381745802738,20.895338674244435 c 0,0 123.14383918359015,13.730099399084503 184.60050742046062,0 l 0,49.91187747457411 c -61.385194528390016,22.837636702199255 -126.09749018654261,24.561939919288857 -184.60050742046062,0 l 0,-49.91187747457411 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "rgb(255, 255, 255)",
                    "stroke-width": "9.80px",
                    "opacity": 1
                }
            },
            "d31edfe6.05daf": {
                "id": "d31edfe6.05daf",
                "type": "ellipse",
                "label": "ellipse:d31edfe6.05daf",
                "cx": 97.55446590455804,
                "cy": 20.26458248801346,
                "rx": 91.87766311857521,
                "ry": 15.350765029986077,
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "rgb(255, 255, 255)",
                    "stroke-width": "9.80px",
                    "opacity": 1
                }
            },
            "9417515.7be7fb": {
                "id": "9417515.7be7fb",
                "type": "group",
                "label": "group:9417515.7be7fb",
                "x": 0,
                "y": 0,
                "width": 176.1362290222003,
                "height": 83.3196715463593,
                "style": {
                    "fill": "",
                    "stroke": "",
                    "stroke-width": 0,
                    "opacity": 1
                },
                "children": [
                    "dd8f6cca.23e47",
                    "339186c3.89cdda"
                ]
            },
            "dd8f6cca.23e47": {
                "id": "dd8f6cca.23e47",
                "label": "path:dd8f6cca.23e47",
                "type": "path",
                "d": "M 14.155367964542878,26.650759049628498 c 53.74644193454747,10.57274832696291 108.93486593768701,10.188577143880773 165.4151772216097,0 l 0,42.4428749383725 c -56.41419810357833,16.94641628070243 -111.6490800172301,18.22579566250155 -165.4151772216097,0 l 0,-35.41343570932532",
                "style": {
                    "fill": "rgb(190, 93, 79)",
                    "stroke": "rgb(32, 60, 81)",
                    "stroke-width": "9.80px",
                    "opacity": 1
                }
            },
            "339186c3.89cdda": {
                "id": "339186c3.89cdda",
                "type": "ellipse",
                "label": "ellipse:339186c3.89cdda",
                "cx": 96.81828212668053,
                "cy": 22.374844998722324,
                "rx": 82.66291939702842,
                "ry": 12.73125432307094,
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "rgb(32, 60, 81)",
                    "stroke-width": "9.80px",
                    "opacity": 1
                }
            },
            "3dc21c5e.df6844": {
                "id": "3dc21c5e.df6844",
                "label": "group:3dc21c5e.df6844",
                "type": "group",
                "x": -3.5197168857431507,
                "y": -5.5648391812865725,
                "width": 1000,
                "height": 600.7940987323578,
                "children": [
                    "5b280a26.cf3854",
                    "e38c9389.0efed",
                    "186dd95b.f7f117",
                    "b6d52da8.878ca",
                    "6e3dbb3d.eb5a54",
                    "4baece90.90f07",
                    "adca58a1.be9318",
                    "22e59d85.568342",
                    "765aa404.74aa0c",
                    "1420d583.f487ca",
                    "82fffe37.ca26c"
                ],
                "style": {
                    "fill": "none",
                    "stroke": "none",
                    "opacity": 1,
                    "stroke-width": 0
                }
            },
            "5b280a26.cf3854": {
                "id": "5b280a26.cf3854",
                "label": "rect:5b280a26.cf3854",
                "type": "rect",
                "x": 0,
                "y": 3.191268957856327,
                "width": 1000,
                "height": 597.5141674343702,
                "style": {
                    "fill": "rgb(72, 72, 72)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "e38c9389.0efed": {
                "id": "e38c9389.0efed",
                "label": "path:e38c9389.0efed",
                "type": "path",
                "d": "M 336.41548559272286,600.7940627864712 l 116.46237263966613,-466.66714152462737 l 0,233.77170016977453 l -85.40664526025128,232.89544135485284 l -31.055727379414858,0 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "186dd95b.f7f117": {
                "id": "186dd95b.f7f117",
                "label": "path:186dd95b.f7f117",
                "type": "path",
                "d": "M 311.347765025228,600.7940627864712 l 85.23368063283607,-559.1431798830764 l 56.29641257432489,83.22457498133126 l 0,14.436828550247421 l -115.55037733147682,461.48177635149773 l -25.979715875684114,0 Z",
                "style": {
                    "fill": "rgb(38, 74, 139)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "b6d52da8.878ca": {
                "id": "b6d52da8.878ca",
                "label": "path:b6d52da8.878ca",
                "type": "path",
                "d": "M 285.31015603045034,600.7940627864712 l 32.604546997632895,-600.7940627864712 l 50.49280606766569,0 l 29.475459647121326,43.574220971057194 l -86.0213129444541,557.2198418154139 l -26.55149976796581,0 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "6e3dbb3d.eb5a54": {
                "id": "6e3dbb3d.eb5a54",
                "label": "path:6e3dbb3d.eb5a54",
                "type": "path",
                "d": "M 285.589615407803,600.7940627864712 l -29.16097850636639,0 l -30.02151326425034,-549.5722322561462 l 75.72277031459544,-51.22183053032485 l 16.69751911435617,0 l -33.23779765833487,600.7940627864712 Z",
                "style": {
                    "fill": "rgb(38, 74, 139)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "4baece90.90f07": {
                "id": "4baece90.90f07",
                "label": "path:4baece90.90f07",
                "type": "path",
                "d": "M 224.15143618213503,600.7940627864712 l -37.25529423147912,0 l -135.18114781323808,-430.95923745163554 l 87.34213373562481,-59.081000129736736 l 85.09430830909241,490.0402375813723 Z",
                "style": {
                    "fill": "rgb(38, 74, 139)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "adca58a1.be9318": {
                "id": "adca58a1.be9318",
                "label": "path:adca58a1.be9318",
                "type": "path",
                "d": "M 256.4286369014366,600.7940627864712 l -31.568188692872322,0 l -85.23796901202817,-490.86789476545005 l 86.78464444065015,-58.70433749069617 l 30.02151326425034,549.5722322561462 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "22e59d85.568342": {
                "id": "22e59d85.568342",
                "label": "path:22e59d85.568342",
                "type": "path",
                "d": "M 187.72094021527226,600.7940627864712 l -39.52027317477998,0 c -52.126678539860634,-111.95885975808245 -109.02775258027341,-233.10271301580497 -144.90504763135365,-306.31392258355305 l 0,-92.75192408647499 c 23.254450899096494,-15.606841339828836 48.98401132190737,-32.72104796568529 48.98401132190737,-32.72104796568529 l 135.44130948422625,431.7868946357133 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "765aa404.74aa0c": {
                "id": "765aa404.74aa0c",
                "label": "path:765aa404.74aa0c",
                "type": "path",
                "d": "M 279.1234543159624,30.279530745642457 l 3.464295657361714,26.5157632746982 l 27.046092834789476,5.321163847546515 l -24.904762158194533,11.066877235112187 l 3.464295657361714,26.5157632746982 l -18.856718037584915,-19.676513193143794 l -24.905476888059884,11.066877235112187 l 13.251806433493611,-23.22729116421311 l -18.856718037584915,-19.676513193143794 l 27.046092834789476,5.321163847546515 l 13.251091703628257,-23.22729116421311 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "1420d583.f487ca": {
                "id": "1420d583.f487ca",
                "label": "path:1420d583.f487ca",
                "type": "path",
                "d": "M 111.41566506041482,140.58807924462684 l 3.464295657361714,26.5157632746982 l 27.046092834789476,5.321163847546515 l -24.904762158194533,11.066877235112187 l 3.464295657361714,26.5157632746982 l -18.856718037584915,-19.676513193143794 l -24.905476888059884,11.066877235112187 l 13.251091703628257,-23.22729116421311 l -18.856718037584915,-19.676513193143794 l 27.046807564654827,5.321163847546515 l 13.251091703628257,-23.22729116421311 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            },
            "82fffe37.ca26c": {
                "id": "82fffe37.ca26c",
                "label": "path:82fffe37.ca26c",
                "type": "path",
                "d": "M 139.20293276557445,240.33720871289907 l 3.464295657361714,26.5157632746982 l 27.046807564654827,5.321163847546515 l -24.905476888059884,11.066877235112187 l 3.464295657361714,26.5157632746982 l -18.856718037584915,-19.676513193143794 l -24.904762158194533,11.066877235112187 l 13.251091703628257,-23.22729116421311 l -18.856718037584915,-19.676513193143794 l 27.046092834789476,5.321163847546515 l 13.251091703628257,-23.22729116421311 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": "0.00px",
                    "opacity": 1
                }
            }
        },
        "templates": [
            "3dc21c5e.df6844",
            "280297e5.235e28",
            "1cb76d65.610053",
            "ee690753.5f5628",
            "3b1ef73e.085838"
        ],
        "mappings": [
            {
                "mappingId": "a8cbce6a.da2ac",
                "ttype": "attribute",
                "from": {
                    "sourceId": "fd17e65e.1e4808",
                    "key": "payload",
                    "path": [],
                    "type": "literal"
                },
                "to": {
                    "path": [
                        "1cb76d65.610053"
                    ],
                    "type": "text",
                    "property": "text"
                }
            },
            {
                "mappingId": "ebf3e4df.73ace8",
                "ttype": "transform",
                "from": {
                    "sourceId": "fd17e65e.1e4808",
                    "key": "payload",
                    "path": [],
                    "type": "literal"
                },
                "to": {
                    "path": [
                        "280297e5.235e28"
                    ],
                    "type": "group",
                    "property": "rotate"
                },
                "birth": null,
                "death": null
            }
        ],
        "transformers": {
            "a8cbce6a.da2ac": "return payload;",
            "ebf3e4df.73ace8": "if (payload==\"on\"){\n  return  `rotate(${0})`\n}\nreturn `rotate(${45})`"
        },
        "canvasdimensions": {
            "w": 949,
            "h": 550.9472222222222
        },
        "tree": {
            "a8cbce6a.da2ac": {
                "node": {
                    "nid": "47b06117.ae0f1",
                    "type": "uibuilder",
                    "category": "processors",
                    "color": "#3771C8",
                    "unicode": "f03e"
                },
                "parents": [
                    {
                        "node": {
                            "nid": "fd17e65e.1e4808",
                            "type": "dbfunction",
                            "category": "processors",
                            "color": "#3771C8",
                            "unicode": "f121"
                        },
                        "parents": [
                            {
                                "node": {
                                    "nid": "d5e17530.3b0428",
                                    "type": "twitter",
                                    "category": "datastores",
                                    "color": "#ffcc00",
                                    "unicode": "f099"
                                },
                                "parents": []
                            },
                            {
                                "node": {
                                    "nid": "c37f93a9.f6c65",
                                    "type": "bulbsin",
                                    "category": "datastores",
                                    "color": "#ffcc00",
                                    "unicode": "f0eb"
                                },
                                "parents": []
                            }
                        ]
                    }
                ]
            },
            "ebf3e4df.73ace8": {
                "node": {
                    "nid": "47b06117.ae0f1",
                    "type": "uibuilder",
                    "category": "processors",
                    "color": "#3771C8",
                    "unicode": "f03e"
                },
                "parents": [
                    {
                        "node": {
                            "nid": "fd17e65e.1e4808",
                            "type": "dbfunction",
                            "category": "processors",
                            "color": "#3771C8",
                            "unicode": "f121"
                        },
                        "parents": [
                            {
                                "node": {
                                    "nid": "d5e17530.3b0428",
                                    "type": "twitter",
                                    "category": "datastores",
                                    "color": "#ffcc00",
                                    "unicode": "f099"
                                },
                                "parents": []
                            },
                            {
                                "node": {
                                    "nid": "c37f93a9.f6c65",
                                    "type": "bulbsin",
                                    "category": "datastores",
                                    "color": "#ffcc00",
                                    "unicode": "f0eb"
                                },
                                "parents": []
                            }
                        ]
                    }
                ]
            }
        },
        "x": 588.5,
        "y": 157,
        "wires": [
            [
                "9d618c24.11909"
            ]
        ]
    },
    {
        "id": "9d618c24.11909",
        "type": "app",
        "z": "dea91d5a.4783b",
        "name": "",
        "appId": "webapp",
        "layout": null,
        "x": 722.5,
        "y": 143,
        "wires": []
    }
]